button{
    width: 3.9em;
    height: 30px;
    border-radius: 10px;
}
.area {
    width: 4.1em;
    margin-left: -0.3em !important;
    margin-right: -0.5em !important;
    font-size: 0.94em;
    background-color: rgb(163, 160, 160);
}
.r5 {
    width: 4.1em;
    margin-left: -0.5em !important;
    margin-right: -0.5em !important;
}
.r6 {
    width: 3.4em;
    margin-left: -0.5em !important;
    margin-right: -0.5em !important;
    font-size: 0.96em;
}
/* .table {

} */
.cont{
    width: 25em;
    border: 4px solid lightgrey;
    border-radius: 1em;
    margin: auto;
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.25);
}
.math{
    border-radius: 30px;
}
.empty{
    height: 2em;
}
.int{
    width: 1.5em;
    margin-left: 1em;
}
#quadInput,#circle,#rectangle,#triAng,#cone,#cylinder,#triHeight,#trapezium,#triAbc,#sphere,#sector,#mean {
    margin-top: -1em !important;
    margin-bottom: .2em !important;
    margin-left: .6em !important;
} 
#simul{
    margin-top: -2em !important;
    margin-left: .6em !important;
}
#areaSelect1, #areaSelect2, #triSelect {
    margin-top: -1em !important;
    margin-bottom: .2em !important;
    margin-left: .6em !important;
} 
.tdeqn {
    border-top: none !important;
}
.eqn1, .eqn2{
    width: 1.5em;
    margin-left: 1em;
    margin-top: .7em;
}
#inputLabel{
    background: white;
    height: 3em;
    padding-top: 20px;
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.25);
}
#input {
    background: white;
    border: 1px solid #aaaaaa;
    width: 100%;
    max-height: 2em;
    padding: .2em;
}
#meanInput {
    background: white;
    border: 1px solid #aaaaaa;
    width: 70%;
    max-height: 2em;
    padding: .2em;
}
#solvebtn {
    margin-left: 4.6em;
}
#solvebtn {
    margin-left: 2em;
}
table tr {
    margin-top: -0.3em !important;
    margin-bottom: -0.3em !important;
}