button{
    width: 3.9em;
    height: 30px;
    border-radius: 10px;
}
.yes{
    margin-right: x50px;
}
/* .table {

} */
.cont{
    width: 23em;
    border: 1px solid black;
    border-radius: 1em;
    margin: auto;
}
.math{
    border-radius: 30px;
}
.empty{
    height: 2em;
}
.int{
    width: 1.5em;
    margin-left: 1em;
}
#quadInput {
    margin-top: -1em !important;
    margin-bottom: .2em !important;
    margin-left: .6em !important;
} 
#simul{
    margin-top: -2em !important;
    margin-left: .6em !important;
}
.tdeqn {
    border-top: none !important;
}
.eqn1, .eqn2{
    width: 1.5em;
    margin-left: 1em;
    margin-top: .7em;
}
#inputLabel{
    background: white;
    height: 3em;
    padding-top: 20px;
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.25);;
}
#input {
    background: white;
    border: 1px solid #aaaaaa;
    width: 100%;
    max-height: 2em;
    padding: .2em;
}
#solvebtn {
    margin-left: 4.6em;
}
table tr {
    margin-top: -0.3em !important;
    margin-bottom: -0.3em !important;
}